<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      
      <% @post.errors.full_messages.each do |message| %>
       <%= message %>
      <% end %>
     
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
 
  <div class="actions">




<%= f.fields_for :contents, Content.new do |ff|%>
<ol id="content">
<li><%= ff.file_field :image %>
<br>
<%= ff.label :title %>
<%= ff.text_field :title %>
<br>
<%= ff.label :body %>
<%= ff.text_field :body %>
</li>
</ol>
<% end %>


    <%= f.submit %>
  </div>
<% end %>
<br>
<button id="addButton" onclick="addContentForm()"> add photo </button>
<button id="removeButton" onclick="removeContentForm()"> remove photo </button>